
@{
    ViewBag.Title = "Voucher";
}

<h2>Redeem your voucher at store</h2>

<html>
<body>
    <div>
        <img style="position:absolute;width:300px;height:300px;top:300px;" src="~/Images/Voucher-Code.png" />
    </div>
</body>
</html>
